<p>Hi, {{ studentName }}!</p>
<p>Welcome to Gympoint!</p>
<p>
  These are your enrollment's details:<br>
  <br>
  <strong>Service plan: </strong> {{ servicePlan }}<br>
  <strong>In effect until: </strong> {{ endDate }}<br>
  <strong>Full price: </strong>R$ {{ price }}<br>
  <br>
  We're glad to have you with us! 💪<br>
  See you soon!
</p>
