<p>Hi, {{ studentName }}!</p>
<p>Your question has been answered! Here are your question and our answer:</p>
<p>
  <strong>Question:</strong><br>
  {{ question }}
</p>
<p>
  <strong>Answer:</strong><br>
  {{ answer }}
</p>
<br>
<p>
  If you have further questions, feel free to send another request.<br>
  We'll be glad to reach out!
</p>
