<strong>Hi, {{ studentName }}!</strong>
<p>Welcome to Gympoint!</p>
<p>
  These are your registration's details:<br>
  <strong>Service plan: </strong> {{ servicePlan }}<br>
  <strong>In effect until: </strong> {{ EndDate }}<br>
  <strong>Full price: </strong> {{ price }}<br>
  <br>
  We're glad to have you with us! 💪<br>
  See you soon!
</p>
